@media only screen and (max-width: 800px) {
    .show-desktop {
        display: none;
    }
}

@media only screen and (min-width: 800px) {
    .show-mobile {
        display: none;
    }
}

.c-pointer {
    cursor: pointer;
}

.learn-more {
    line-height: 24px;
    border-radius: 8px;
    background-color: #8c3945;
    padding: 10px;
    margin-top: 4px;
    margin-left: -2px;
    color: #FFF !important;
    font-size: 18px;
    text-decoration: none;
  }